version: "3.9"

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-net

  backend:
    build: ./backend
    container_name: backend
    environment:
      MONGO_URL: mongodb://root:rootpassword@mongodb:27017/?authSource=admin
    depends_on:
      - mongodb
    networks:
      - mean-net

  frontend:
    build: ./frontend
    container_name: frontend
    networks:
      - mean-net

  nginx:
    image: nginx:1.25
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/reverse-proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-net

networks:
  mean-net:

volumes:
  mongo_data:
