version: '3.9'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-net

  backend:
    build: ./backend
    container_name: backend
    environment:
      NODE_ENV: production
      MONGO_URI: mongodb://mongodb:27017/mydatabase
    depends_on:
      - mongodb
    ports:
      - "8080:8080" 
    networks:
      - mean-net

  nginx:
    build: ./frontend   # <-- IMPORTANT: Build Angular + Nginx
    container_name: reverse-proxy
    volumes:
      - ./nginx/reverse-proxy.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mean-net

networks:
  mean-net:

volumes:
  mongo-data:

