version: '3.9'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-net

  backend:
    build: ./backend
    container_name: backend
    environment:
      NODE_ENV: production
      MONGO_URL: mongodb://root:rootpassword@mongodb:27017/mydatabase?authSource=admin
    depends_on:
      - mongodb
    networks:
      - mean-net

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    networks:
      - mean-net

  nginx:
    image: nginx:alpine
    container_name: reverse-proxy
    volumes:
      - ./nginx/reverse-proxy.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - mean-net

networks:
  mean-net:

volumes:
  mongo-data:

