name: CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'README.md'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build Backend Image
      uses: docker/build-push-action@v6
      with:
        context: ./backend
        file: ./backend/Dockerfile
        push: false
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend:latest

    - name: Build Frontend Image
      uses: docker/build-push-action@v6
      with:
        context: ./frontend
        file: ./frontend/Dockerfile
        push: false
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend:latest


  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Backend
      uses: docker/build-push-action@v6
      with:
        context: ./backend
        file: ./backend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend:${{ github.run_id }}

    - name: Build & Push Frontend
      uses: docker/build-push-action@v6
      with:
        context: ./frontend
        file: ./frontend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend:${{ github.run_id }}

  deploy:
    name: Deploy to AWS EC2
    needs: push
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/${{ secrets.EC2_USER }}/crud-dd-task-mean-app

          echo "Pulling latest images..."
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend:latest
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend:latest

          echo "Restarting containers..."
          docker compose down
          docker compose -f docker-compose.cicd.yml up -d

          echo "Deployment finished successfully."
